﻿@using Azbok.DAL;
@model IList<Azbok.Models.ModelCreditRequest>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="wrapper" style="padding-top:45px; min-height:1200px;">





    <div class="col-md-12" style=" padding:0px; border-radius:3px;">
        <div class="panel with-nav-tabs panel-primary">
            <div class="panel-heading" style="padding-bottom:0px;">
                <ul class="nav nav-tabs" style="padding-bottom:0px;">
                    <li id="w"><a href="#tab1primary" data-toggle="tab" onclick="OnWaiting()">Zahtevi na razmatranju</a></li>
                    <li id="a"><a href="#tab2primary" data-toggle="tab" style="text-shadow:none;" onclick="Approved()">Odobreni zahtevi</a></li>
                    <li id="r"><a href="#tab3primary" data-toggle="tab" style="text-shadow:none;" onclick="Rejected()">Neodobreni zahtevi</a></li>
                </ul>
            </div>
            <div class="panel panel-body" style="background:#fff; border-bottom:solid #e8e8e8 15px; ">
                <div class="tab-content" style="margin-top:-3px; ">
                    <div class="tab-pane fade in active" id="tab1primary">
                        @Html.Partial("_CreditRequestList")
                    </div>
                    @*<div class="tab-pane fade" id="tab2primary">
                        @Html.Partial("_Odobreni")
                    </div>
                    <div class="tab-pane fade" id="tab3primary">
                        @Html.Partial("_Odbijeni")
                    </div>*@
                </div>
            </div>
        </div>
    </div>


</div>
<script>
    function OnWaiting() {
        window.location.href = "OnWaiting";
        $('#onWaitingRequest').dataTable();
    }
</script>
<script>
    function Approved() {
        window.location.href = "Approved";
        $('#approvedRequest').dataTable();
    }
</script>
<script>
    function Rejected() {
        window.location.href = "Rejected";
        $('#rejectedRequest').dataTable();
    }
</script>
@*Change active tab*@
<script>
    var id = '@(ViewBag.ID)';
    $(document).ready(function () {
        $('#' + id).removeClass('active').addClass('active')
        $(this).parent('li').addClass('active')
    });
</script>
