﻿@model Azbok.Models.ModelForAdmin


@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="wrapper" style="padding-top:45px; min-height:1200px;">

    @using (Html.BeginForm("EditParametar", "EditParametar", FormMethod.Post))
    {
        <div class="row">
            <div class="col col-md-4">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>

                    @Html.DropDownListFor(x => x.ValueId, new SelectList(Model.DropdownsList[0], "Value", "Text"), "-- Izaberite Model --", new { @class = "form-control", @onchange = "this.form.submit();" })

                </div>
            </div>



        </div>
    }

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>


    <div class="row">

        <div style="border: 1px solid #296396; background: #f1f1f1; padding: 15px;">

            <table id="myDataTable" class="display">
                <thead>
                    <tr>
                        <th>PositionId</th>
                        <th>ControlType</th>
                        <th>Catagory</th>
                        <th>Placeholder</th>
                        <th>DescriptionLabel</th>
                        <th>Menage</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Add  list of all controles in data grid view-->
                    @foreach (var user in Model.ModelListParamModel.ObjectItems2)
                    {
                        if (user.ModelId == @Model.ActiveModel)
                        {
                            <tr id="@user.Id">
                                <td>@user.OrderIndex</td>
                                <td>@user.ControlType</td>
                                <td>@user.Category</td>
                                <td>@user.Placeholder</td>
                                <td>@user.DescriptionLabel</td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", "EditParametar", new { id = @user.Id }, new { @class = "postLink" })  |
                                    @Html.ActionLink("Details", "Details", "EditParametar", new { id = @user.Id }, new { @class = "postLink" })  |
                                    @Html.ActionLink("Delete", "Delete", "EditParametar", new { id = @user.Id }, new { @class = "postLink" })  |
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>