﻿@model  Azbok.Models.ModelForAdmin

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="wrapper" style="padding-top:45px; min-height:1200px;">


    @using (Html.BeginForm("Admin", "Admin", FormMethod.Post))
    {
        <div class="row">
            <div class="col col-md-4">

                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>

                    @Html.DropDownListFor(x => x.ValueId, new SelectList(Model.DropdownsList[0], "Value", "Text"), "-- Izaberite Model --", new { @class = "form-control", @onchange = "this.form.submit();" })

                </div>
            </div>



        </div>
    }
    <!--Add  page for add and menage parametar-->
    @if (@ViewBag.SelectedValue > 0)
    {
        @Html.Partial("_AddParametar", Model)
    }
</div>

@*@Html.Partial("_AddParametar")*@


@*@for (int i = 0; i < Model.DropdownsList.Count(); i++)
    {
        if (Model.DropdownsList[i] = 0)
            @Html.DropDownListFor(x => x.ValueId, new SelectList(Model.DropdownsList[i], "Value", "Text"), "-- Izaberite Model --", new { @class = "form-control" })
      }*@