@inherits RazorTemplateFolderHost<IEnumerable<Azbok.Models.CreditResultData>>
<?xml version='1.0' encoding='UTF-8' standalone='yes'?><w:document xmlns:w='http://schemas.openxmlformats.org/wordprocessingml/2006/main'><w:body><w:tbl>
<w:tr>
<w:tc><w:p><w:r><w:rPr><w:b w:val='on'/><w:t>Rata</w:t></w:rPr></w:r></w:p></w:tc><w:tc><w:p><w:r><w:rPr><w:b w:val='on'/><w:t>Isplata</w:t></w:rPr></w:r></w:p></w:tc><w:tc><w:p><w:r><w:rPr><w:b w:val='on'/><w:t>Anuitet</w:t></w:rPr></w:r></w:p></w:tc><w:tc><w:p><w:r><w:rPr><w:b w:val='on'/><w:t>Otplata</w:t></w:rPr></w:r></w:p></w:tc><w:tc><w:p><w:r><w:rPr><w:b w:val='on'/><w:t>Uplata</w:t></w:rPr></w:r></w:p></w:tc><w:tc><w:p><w:r><w:rPr><w:b w:val='on'/><w:t>Ucesce</w:t></w:rPr></w:r></w:p></w:tc><w:tc><w:p><w:r><w:rPr><w:b w:val='on'/><w:t>Stanje</w:t></w:rPr></w:r></w:p></w:tc></w:tr>
@foreach(var item in Model){
@RenderPartial("~/CreditResultData_Word2007_item.cshtml",item);
}
		</w:tbl></w:body></w:document>
