@inherits RazorTemplateFolderHost<Azbok.Models.CreditResultData>
<w:tr>
<w:tc><w:p><w:r><w:t>@Model.Rata</w:t></w:r></w:p></w:tc><w:tc><w:p><w:r><w:t>@Model.Isplata</w:t></w:r></w:p></w:tc><w:tc><w:p><w:r><w:t>@Model.Anuitet</w:t></w:r></w:p></w:tc><w:tc><w:p><w:r><w:t>@Model.Otplata</w:t></w:r></w:p></w:tc><w:tc><w:p><w:r><w:t>@Model.Uplata</w:t></w:r></w:p></w:tc><w:tc><w:p><w:r><w:t>@Model.Ucesce</w:t></w:r></w:p></w:tc><w:tc><w:p><w:r><w:t>@Model.Stanje</w:t></w:r></w:p></w:tc></w:tr>
