@inherits RazorTemplateFolderHost<IEnumerable<Azbok.Models.CreditResultData>>
<root><dictionary>
<prop>Rata</prop><prop>Isplata</prop><prop>Anuitet</prop><prop>Otplata</prop><prop>Uplata</prop><prop>Ucesce</prop><prop>Stanje</prop></dictionary>
<values>
@foreach(var item in Model){
@RenderPartial("~/CreditResultData_XML_item.cshtml",item);
}
</values>
</root>
