@inherits RazorTemplateFolderHost<IEnumerable<Azbok.Models.CreditResultData>>
<itext author='Andrei Ignat' title='Collection'>
                <chapter numberdepth='0'>
                <newline />
                <section numberdepth='0'>
                <table width='100%'  cellspacing='0' cellpadding='2' columns='7' grayfill='0.90'>                
            
<row>
<cell><phrase font='Arial' size='12' style='bold'>Rata</phrase></cell><cell><phrase font='Arial' size='12' style='bold'>Isplata</phrase></cell><cell><phrase font='Arial' size='12' style='bold'>Anuitet</phrase></cell><cell><phrase font='Arial' size='12' style='bold'>Otplata</phrase></cell><cell><phrase font='Arial' size='12' style='bold'>Uplata</phrase></cell><cell><phrase font='Arial' size='12' style='bold'>Ucesce</phrase></cell><cell><phrase font='Arial' size='12' style='bold'>Stanje</phrase></cell></row>
@foreach(var item in Model){
@RenderPartial("~/CreditResultData_PDFtextSharpXML_item.cshtml",item);
}
</table></section></chapter></itext>
