@inherits RazorTemplateFolderHost<Azbok.Models.CreditResultData>
<item>
<Rata>@Model.Rata</Rata><Isplata>@Model.Isplata</Isplata><Anuitet>@Model.Anuitet</Anuitet><Otplata>@Model.Otplata</Otplata><Uplata>@Model.Uplata</Uplata><Ucesce>@Model.Ucesce</Ucesce><Stanje>@Model.Stanje</Stanje></item>
