@inherits RazorTemplateFolderHost<Azbok.Models.CreditResultData>
<row>
<cell><phrase font='Times New Roman' size='8'>@Model.Rata</phrase></cell><cell><phrase font='Times New Roman' size='8'>@Model.Isplata</phrase></cell><cell><phrase font='Times New Roman' size='8'>@Model.Anuitet</phrase></cell><cell><phrase font='Times New Roman' size='8'>@Model.Otplata</phrase></cell><cell><phrase font='Times New Roman' size='8'>@Model.Uplata</phrase></cell><cell><phrase font='Times New Roman' size='8'>@Model.Ucesce</phrase></cell><cell><phrase font='Times New Roman' size='8'>@Model.Stanje</phrase></cell></row>
