﻿@model Azbok.Models.ModelForAdmin

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div id="wrapper" style="padding-top:45px; min-height:1200px;">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">meni <b class="caret"></b></a>


                </div>

                <h3 class="panel-title">Dodavanje parametra</h3>
            </div>



            @using (Html.BeginForm("AddParametar", "AddParametar", FormMethod.Post, new { name = "AllFrom", id = "AllForm" }))
            {
                <div class="panel panel-body" style="background: #f5f5f5; padding:12px;">

                    <div class="row" style="border-bottom:1px black groove">
                        <div class="col col-md-4">
                            <label class="control-label" for="Adresa">Izaberite model ili napravite novi</label>

                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>

                                @Html.DropDownListFor(x => x.ValuesId, new SelectList(Model.DropdownsList[1], "Value", "Text"), "-- Izaberite Parametar Type --", new { @class = "form-control", @onchange = "this.form.submit()" })





                            </div>
                        </div>
                        <div class="col-md-4">


                            <label class="control-label" for="Adresa">Izaberite model</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                @Html.DropDownListFor(x => x.ValuesId, new SelectList(Model.DropdownsList[0], "Value", "Text"), "-- Izaberite Model --", new { @class = "form-control" })

                            </div>


                        </div>


                    </div>


                    <div class="row" style="padding-top:10px;">
                        <div class="col-md-4 ">
                            <label class="control-label" for="Adresa">Ime kontrole</label>
                            <div class="controls">
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                                    @Html.TextBoxFor(x => x.Parametar.Name, (string)ViewBag.stanovanjeGrad, new { @style = "width:100%; height:36px;", placeholder = "  Ime kontrole", @class = "form-control" })
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <label class="control-label" for="Adresa">Opis Labele</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                                @Html.TextBoxFor(x => x.Parametar.DescriptionLabel, (string)ViewBag.stanovanjeGrad, new { @style = "width:100%; height:36px;", placeholder = "  Ime kontrole", @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label class="control-label" for="Adresa">Placeholder</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                @Html.TextBoxFor(x => x.Parametar.Placeholder, (string)ViewBag.stanovanjeGrad, new { @style = "width:100%; height:36px;", placeholder = "  Ime kontrole", @class = "form-control" })
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">

                                <label class="control-label" for="Adresa">Vrsta Parametra</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                    @Html.DropDownListFor(x => x.ValuesId, new SelectList(Model.DropdownsList[2], "Value", "Text"), "-- Izaberite Parametar Type --", new { @class = "form-control" })

                                </div>

                            </div>
                        </div>

                        <div class="col-md-8">
                            <label class="control-label" for="lefMenu">Icon</label>

                            <div class="accordion" id="leftMenu">
                                <div class="btn btn-default" style="width:100%; padding:9px;">
                                    <div class="accordion-group">

                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseTwo">

                                            <i class="icon-home"></i>Izaberite ikonicu
                                        </a>

                                    </div>
                                </div>
                                <div id="collapseTwo" class="accordion-body collapse" style="width:100%; ">

                                    <div class="accordion-inner">

                                        <div class="input-group">
                                            <div class="btn-group" data-toggle="buttons">
                                                @*Add  list of icons*@
                                                @foreach (string s in ViewBag.IconsList)
                                                {

                                                    <label class="btn btn-default ">
                                                        <input type="radio" name="Icon" value="@s" id="@s" checked><span class="@s" style="padding:8px;"></span>
                                                    </label>
                                                }
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (ViewBag.AddParametarType == 1)
                    {
                        @Html.Partial("_AddParamDiscrete")
                    }

                    @if (ViewBag.AddParametarType == 2)
                    {
                        @Html.Partial("_AddParamDiscreContinuous")
                    }
                    
                    @if (ViewBag.AddParametarType == 3)
                    {
                        @Html.Partial("_AddParamContinuous")
                    }

                </div>

                <div class="panel " style="">
                    <a href="javascript: submitform()" style="float: right; margin-top: 10px; margin-right: 10px;" class="btn btn-primary">Unesi</a>

                    <br>
                    <br>
                </div>
            }
        </div>
    </div>
    @*end panel for add controls*@

</div>
<script type="text/javascript">
    $('#bodyDiv, #scrollbox3').enscroll({
        showOnHover: false,
        verticalTrackClass: 'track3',
        verticalHandleClass: 'handle3'
    });
</script>
<script type="text/javascript">
    $(function () {
        $('a#submit_link').click(function () {
            $('form#fooForm').submit();
        });
    });
</script>

<script type="text/javascript">
    function submitform() {
        document.AllFrom.submit();
    }


</script>
<script type="text/javascript">
    function sendForm() {
        document.AddParameter.submit()
    }
</script>