﻿
@model  Azbok.Models.ModelForAdmin

<hr>
<div class="row">
    <div class="col-md-4 ">
        <label class="control-label" for="Adresa">Unesite veličinu bete</label>
        <div class="controls">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                @Html.TextBoxFor(x => x.Parametar.Beta, (string)ViewBag.stanovanjeGrad, new { @style = "width:100%; height:36px;", placeholder = "  Ime kontrole", @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="col-md-4 ">
        <label class="control-label" for="Adresa">Najmanja logicka vrednost parametara</label>
        <div class="controls">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                @Html.TextBoxFor(x => x.Parametar.LowerBound, (string)ViewBag.stanovanjeGrad, new { @style = "width:100%; height:36px;", placeholder = "  Ime kontrole", @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="col-md-4 ">
        <label class="control-label" for="Adresa">Najveca logicka vrednost parametara</label>
        <div class="controls">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                @Html.TextBoxFor(x => x.Parametar.UperBound, (string)ViewBag.stanovanjeGrad, new { @style = "width:100%; height:36px;", placeholder = "  Ime kontrole", @class = "form-control" })
            </div>
        </div>
    </div>

</div>