﻿@model  Azbok.Models.ModelForAdmin

<div class="row">
    @using (Html.BeginForm("AddParametar", "AddParametar", FormMethod.Post))
    {
        <hr>
        <div class="col-md-3 ">
            <label class="control-label" for="Adresa">Unesite broj intervala</label>
            <div class="controls">
                <div class="input-group">
                    @Html.TextBoxFor(x => x.Parametar.NoInterval, (string)ViewBag.stanovanjeGrad, new { @style = "width:100%; height:48px;", placeholder = " Broj intervala", @class = "form-control" })
                    <span class="input-group-addon"><button type="submit" class="btn btn-primary">Unesi</button></span>
                </div>
            </div>
        </div>
    }
    
      @if (ViewBag.NoIntervals > 0 && ViewBag.NoIntervals != null)
      {   <div class="col-md-5" style="float:right;">
            <div class="panel panel-danger">
                <!-- Default panel contents -->
                <div class="panel-heading">Napomena!</div>
                <div class="panel-body">
                    <span class="text-danger">Najmanja logicka vrednost mora biti jednaka pradhodnoj najvećoj logičkoj vrednosti </span>
                </div>

            </div>
        </div>
    }
 
</div>

@*<div class="handsontable" id="myHandsonTable" style="width:100%"></div><button id="save">Save</button>*@
@if (ViewBag.NoIntervals > 0 && ViewBag.NoIntervals != null)
{ <div class="panel panel-primary">
      <div class="panel panel-heading" style="min-height:40px; font-size:18px;">
          <div class="col-md-1 " style="text-shadow:none; border-right:white 1px groove;">
              <h3 class="panel-title">Interval</h3>
          </div>
          <div class="col-md-2 " style="text-shadow: none; border-right: white 1px groove;">   
              <h3 class="panel-title">Veličina bete</h3>
          </div>
          <div class="col-md-2 " style="text-shadow: none; border-right: white 1px groove;">
             
              <h3 class="panel-title">Beta weight</h3>
          </div>
          <div class="col-md-3 " style="text-shadow: none; border-right: white 1px groove;">
             
              <h3 class="panel-title">Najmanja  vrednost parametara</h3>
          </div>
          <div class="col-md-4 " style="text-shadow: none; ">
              
              <h3 class="panel-title">Najveca  vrednost parametara</h3>
          </div>
      </div>
      <div class="panel panel-body" >
              <div id="scrollbox3" style="margin-top:-15px;">
                  @for (int i = 1; i <= ViewBag.NoIntervals; i++)
                  {
                      <div class="form-group" style="border-bottom: 1px #808080 groove;">
                          <div class="row">
                              <div class="col-md-1" style=" height:100%; text-align:center;">
                                  <span class="text-primary" style="font-size:16px">@i.ToString()</span>
                              </div>
                              <div class="col-md-2 ">
                                  <div class="controls">
                                      <div class="input-group">
                                          <span class="input-group-addon"><span class="glyphicon glyphicon-resize-vertical"></span></span>
                                          @Html.TextBoxFor(x => x.Parametar.BetaItems, (string)ViewBag.stanovanjeGrad, new { @style = "width:100%; height:36px;", placeholder = "  Veličina bete", @class = "form-control" })
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-2 ">

                                  <div class="controls">
                                      <div class="input-group">
                                          <span class="input-group-addon"><span class=" glyphicon glyphicon-signal"></span></span>
                                          @Html.TextBoxFor(x => x.Parametar.BetaWeightItems, (string)ViewBag.stanovanjeGrad, new { @style = "width:100%; height:36px;", placeholder = "  Beta weight", @class = "form-control" })
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-3 ">

                                  <div class="controls">
                                      <div class="input-group">
                                          <span class="input-group-addon"><span class="glyphicon glyphicon-stats"></span></span>
                                          @Html.TextBoxFor(x => x.Parametar.LowerBoundItems, (string)ViewBag.stanovanjeGrad, new { @style = "width:100%; height:36px;", placeholder = " Najmanja vrednost", @class = "form-control" })
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-4 ">

                                  <div class="controls">
                                      <div class="input-group">
                                          <span class="input-group-addon"><span class="glyphicon glyphicon-stats"></span></span>
                                          @Html.TextBoxFor(x => x.Parametar.UperBoundItems, (string)ViewBag.stanovanjeGrad, new { @style = "width:100%; height:36px;", placeholder = "  Najveca vrednost", @class = "form-control" })
                                      </div>
                                  </div>
                              </div>

                          </div>
                      </div>
                  }
              </div>
   
      </div>

    </div>
}