﻿@model Azbok.Models.ModelForAdmin

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="row">
        <span>Parametri za @ViewBag.model</span>
        <div style="border: 1px solid #296396; background: #f1f1f1; padding: 15px;">

            <table id="myDataTable" class="display">
                <thead>
                    <tr>
                        <th>PositionId</th>
                        <th>ControlType</th>
                        <th>Catagory</th>
                        <th>Placeholder</th>
                        <th>DescriptionLabel</th>
                        <th>Menage</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Add  list of all controles in data grid view-->
                    @foreach (var user in Model.ModelListParamModel.ObjectItems2)
                    {
                        if (user.ModelId == @ViewBag.SelectedValue)
                        {
                            <tr id="@user.Id">
                                <td>@user.OrderIndex</td>
                                <td>@user.ControlType</td>
                                <td>@user.Category</td>
                                <td>@user.Placeholder</td>
                                <td>@user.DescriptionLabel</td>
                                <td>                                   
                                    @Html.ActionLink("Edit", "Edit", "Admin", new { id = @user.Id }, new { @class = "postLink" })  |
                                    @Html.ActionLink("Details", "Details", "Admin", new { id = @user.Id }, new { @class = "postLink" })  |                                 
                                    @Html.ActionLink("Delete", "Delete", "Admin", new { id = @user.Id }, new { @class = "postLink" })  |
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-primary" >
            <div class="panel-heading" style="">
                <span>Dodavanje novog parametra</span>
            </div>
            <div class="panel panel-body" style="background: #f5f5f5; padding:12px;">


                        <div class="row">
                            <div class="col-md-4 ">
                                <label class="control-label" for="Adresa">Ime kontrole</label>
                                <div class="controls">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                                        @Html.TextBox("stanovanjeGrad", (string)ViewBag.stanovanjeGrad, new { @style = "width:100%; height:36px;", placeholder = "  Ime kontrole", @class = "form-control" })
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <label class="control-label" for="Adresa">Opis Labele</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                                    @Html.TextBox("stanovanjeUlica", (string)ViewBag.stanovanjeUlica, new { @style = "width:100%; height:36px;", placeholder = "  Opis Labele", @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label class="control-label" for="Adresa">Placeholder</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    @Html.TextBox("stanovanjeGodina", (string)ViewBag.stanovanjeDan, new { @style = "width:100%; height:36px;", placeholder = "  Placeholder", @class = "form-control" })
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-4 ">
                                <label class="control-label" for="Adresa">Vrsta Upisa</label>
                                <div class="input-group">



                                    <label class="btn btn-default ">
                                        <input type="radio" name="colorRadio" value="Text"><span class="glyphicon glyphicon-font" style="padding:4px;"> Text</span>
                                    </label>
                                    <label class="btn btn-default ">
                                        <input type="radio" name="colorRadio" value="Combo"><span class="glyphicon glyphicon-list" style="padding:4px;"> Combo</span>
                                    </label>
                                    <label class="btn btn-default ">
                                        <input type="radio" name="colorRadio" value="Check"><span class="glyphicon glyphicon-ok-circle" style="padding:4px;"> Check</span>
                                    </label>

                                </div>
                            </div>
                            <div class="col-md-8">
                                <label class="control-label" for="lefMenu">Icon</label>

                                <div class="accordion" id="leftMenu">
                                    <div class="btn btn-default" style="width:100%; padding:9px;">
                                        <div class="accordion-group">

                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseTwo">

                                                <i class="icon-home"></i>Izaberite ikonicu
                                            </a>

                                        </div>
                                    </div>
                                    <div id="collapseTwo" class="accordion-body collapse" style="width:100%; ">

                                        <div class="accordion-inner">

                                            <div class="input-group">
                                                <div class="btn-group" data-toggle="buttons">
                                                    <!-- Add  list of icons  -->
                                                    @foreach (string s in ViewBag.IconsList)
                                                    {

                                                        <label class="btn btn-default ">
                                                            <input type="radio" name="Icon" value="@s" id="@s" checked><span class="@s" style="padding:8px;"></span>
                                                        </label>
                                                    }
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                           <div class="row">
                             <div class="col-md-4 ">
                                <label class="control-label" for="Adresa">Da li je parametar o klijentu</label>
                                <div class="input-group">

                                    <label class="btn btn-default ">
                                        <input type="radio" name="ClientData" value="Text"><span class="glyphicon glyphicon-font" > Da</span>
                                    </label>
                                    <label class="btn btn-default ">
                                        <input type="radio" name="ClientData" value="Combo"><span class="glyphicon glyphicon-list" > Ne</span>
                                    </label>


                                </div>
                            </div>
                         
    @*@Html.DropDownListFor(x => x.ComboBoxModel.SelectedId, new SelectList( ViewBag.ParametarTypeList, "IdModel", "Text"), "-- Izaberite Model --", new { @class = "form-control" })*@
                         </div>
                        <div class="green box">
                            <div class="row">

                                <div class="col-md-4">
                                    <label class="control-label" for="Adresa">Placeholder</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        @Html.TextBox("stanovanjeGodina", (string)ViewBag.stanovanjeDan, new { @style = "width:100%; height:36px;", placeholder = "  Placeholder", @class = "form-control" })
                                    </div>
                                </div>

                            </div>
                        </div>


       
            </div>
           
            <div class="panel " style="">

                <button type="submit" onclick="form" data-toggle="modal" class="btn btn-primary" style="float: right; margin-top: 10px; margin-right: 10px;">Unesi</button>
                <br>
                <br>
            </div>

        </div>
    </div>
    @*end panel for add controls*@
    

<script type="text/javascript">
    $(function () {
        $("a.postLink").click(function (e) {
            e.preventDefault();
            $.post($(this).attr("href"), function (data) {
                // got the result in data variable. do whatever you want now
                //may be reload the page
            });
        });
    });
</script>