﻿<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }

    @RenderSection("AddToHeadAnotherWay", required: false)
    @RenderSection("usage", required: false)

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    @*<link href="@Url.Content("~/css/reset.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" />
  
    <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/bootstrap-theme.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/main.css")" rel="stylesheet" type="text/css" />    
    <link href="@Url.Content("~/css/Datatable.css")" rel="stylesheet" type="text/css" />    
    
 
   
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
   



    <link href="@Url.Content("~/css/fileinput.css")" rel="stylesheet" type="text/css" />    
   
    <script src="@Url.Content("~/js/fileinput.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("js/vendor/script.js")" type="text/javascript"></script>
  
  

   


</head>
<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">AccuRate* Front office</a>
               
            </div>
            <p class="navbar-text pull-right hidden-xs" style="color:white;  ">Ulogovani ste kao: <a style="color:white;">Korisnik</a></p>
           
        </div>
    </div>
    <div class="MainCont">
        <div class="FormsMain">
            <div class="container body-content">
                @RenderBody()
                <hr />
                
            </div>
        </div>
    </div>


    <div id="footer" class="footer navbar-fixed-bottom visible-lg" style=" background:#1f70b6; height:40px; border-top:1px #676767 groove; ">
        <div class="container">
            <p class="text-muted credit " style="color:white;">Copyright <a href="http://cif.co.rs/" style="color:#adadad;"> @DateTime.Now.Year Center for Investments and Finance</a> </p>
        </div>
    </div>
    
    @RenderSection("scripts", required: false)
    <script>
        $('ul.nav-pills li a').click(function (e) {
            $('ul.nav-pills li.active').removeClass('active').addClass('dime')
            $(this).parent('li').addClass('active')
        })
    </script>
   

  
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.unobtrusive-ajax.min.js"></script>
    <script src="@Url.Content("~/js/vendor/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/main.js")" type="text/javascript"></script>
 

    <script src="@Url.Content("~/js/jquery-1.5.1.min.js")" type="text/javascript"></script>
   
    <script src="@Url.Content("~/js/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/jquery.dataTables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/jquery.dataTables.rowReordering.js")" type="text/javascript"></script>


     <script type="text/javascript">
    $(document).ready(function () {
        $('#example').dataTable();
    });
</script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function (b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l; b[l] || (b[l] =
            function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
            e = o.createElement(i); r = o.getElementsByTagName(i)[0];
            e.src = '//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-XXXXX-X'); ga('send', 'pageview');
    </script>



    <script type="text/javascript">
        $(document).ready(function () {
            $('#myDataTable').dataTable().rowReordering({ sURL: "/Admin/UpdateOrder" });
        });
    </script>

    

</body>


</html>