﻿<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }

    @RenderSection("AddToHeadAnotherWay", required: false)
    @RenderSection("usage", required: false)

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    @*<link href="@Url.Content("~/css/reset.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/bootstrap-theme.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/Datatable.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/handsontable.full.css")" rel="stylesheet" type="text/css" />


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>


    <link href="@Url.Content("~/css/fileinput.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/js/fileinput.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("js/vendor/script.js")" type="text/javascript"></script>


</head>
<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">Koristi te <strong>"outdated"</strong> browser. Molimo vas idite na <a href="http://Mozzila.com/"> instalirajte browser</a> radi punog iskustva.</p>
    <![endif]-->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <a href="#menu-toggle" class="glyphicon glyphicon-arrow-left" id="menu-toggle" style="background:white; font-size:15px; float:left;"></a>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">AccuRate* Admin panel</a>

            </div>
            <p class="navbar-text pull-right hidden-xs" style="color:white;  ">Ulogovani ste kao: <a style="color:white;">Korisnik</a></p>

        </div>
    </div>
    <div class="MainCont">
        <div class="FormsMain">

            <div class="" id="wrapper">

                <!-- Sidebar -->
                <div id="sidebar-wrapper" style="margin-top:50px;">
                    <ul class="sidebar-nav">
                        <li class="sidebar-brand" style="border-bottom:1px black groove;">
                            <a href="#">
                                Accurate Admin Panel
                            </a>
                        </li>
                        <li>
                            @Html.ActionLink("Izmena Parametra", "Admin", "Admin")
                        </li>
                        <li>
                            <a href="#">Dodavanje parametra</a>
                        </li>
                        <li>
                            <a href="#">Dodavanje dozvola</a>
                        </li>
                        <li>

                            <a href="@Url.Action("Risk", "Risk")"><span>Upravljanje kreditnim zahtevima</span></a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>

                    </ul>
                </div>
                <!-- /#sidebar-wrapper -->
                <!-- Page Content -->
                <div id="page-content-wrapper">

                    @RenderBody()
                    <hr />

                </div>
                <!-- /#page-content-wrapper -->

            </div>
        </div>
    </div>

    <div id="footer" class="footer navbar-fixed-bottom visible-lg" style=" background:#1f70b6; height:40px; border-top:1px #676767 groove; ">
        <div class="container">
            <p class="text-muted credit " style="color:white;">Copyright <a href="http://cif.co.rs/" style="color:#adadad;"> @DateTime.Now.Year Center for Investments and Finance</a> </p>
        </div>
    </div>

    @RenderSection("scripts", required: false)

    <script src="@Url.Content("~/js/vendor/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/main.js")" type="text/javascript"></script>


    <script src="@Url.Content("~/js/jquery-1.5.1.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/js/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/jquery.dataTables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/jquery.dataTables.rowReordering.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/handsontable.full.js")" type="text/javascript"></script>



    <script type="text/javascript">
        $(document).ready(function () {
            $('#myDataTable').dataTable().rowReordering({ sURL: "/Admin/UpdateOrder" });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#approvedRequest').dataTable();
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#rejectedRequest').dataTable();
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#onWaitingRequest').dataTable();
        });
    </script>
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

    <script type="text/javascript">

        $(function () {

            var $container = $("#myHandsonTable");

            $container.handsontable({

                startRows: 15,

                startCols: 16,

                rowHeaders: true,

                colHeaders: true,

                useFormula: true,

                minSpareCols: 1,

                minSpareRows: 1,

                contextMenu: true,

                outsideClickDeselects: false,

                removeRowPlugin: true,

                useFormula: true

            });

            var data = [

            ["", "Kia", "Nissan", "Toyota", "Honda"],

            ["2008", 10, 11, 12, 13],

            ["2009", 20, 11, 14, 13],

            ["2010", 30, 15, 12, 13]

            ];

            $container.handsontable("loadData", data);

            var handsontable = $container.data('handsontable');

            $("#save").click(function () {


                var myData = handsontable.getData()
                myData = JSON.stringify(myData)
                $.ajax({
                    url: "/AddParametar/tableData",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: "{'jsonString':'" + JSON.stringify(myData) + "'}",
                    dataType: 'json',
                    success: function (data) {
                        alert(data);
                    }
                });

            });

        });

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#exampleRisk').dataTable();
        });
    </script>


</body>


</html>