﻿@model Azbok.Models.SearchData

<div style="border: 1px solid #296396; background: #f1f1f1; padding: 15px;">

    <table id="example" class="table-striped table-hover" style="width:100%;">
        <thead>
            <tr style="border: 1px solid #a3a3a3;">

                <th>Ime</th>
                <th>Prezime</th>
                <th>JMBG</th>
                <th>Kredit Code</th>
                <th>Kreditni tip</th>
            </tr>
        </thead>
        <tbody>


                <tr  style="cursor:pointer;">

                    <td>user</td>
                    <td>Prezime</td>
                    <td>JMBG</td>
                    <td>Kredit Code</td>
                    <td>Kreditni tip</td>
                </tr>
            
        </tbody>
    </table>
</div>


