﻿@*@model IList<Azbok.Models.ModelCreditRequest>
<div style="border: 1px solid #296396; background: #f1f1f1; padding: 15px;">

    <table id="approvedRequest" class="table-striped table-hover" style="width:100%;">
        <thead>
            <tr style="border: 1px solid #a3a3a3;">

                <th>Ime</th>
                <th>Prezime</th>
                <th>JMBG/PIB</th>
                <th>Šifra kreditnog zahteva</th>
                <th>Segment</th>
                <th>Tip kredita</th>
                <th>Kriterijum</th>
                <th>Vrednost kriterijuma</th>
                <th>Vreme (dd/mm/gggg)</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i <= Model.Count - 1; i++)
            {
                 <tr onclick="location.href ='@(Url.Action("Approved", "Risk"))'" style="cursor:pointer; style=" cursor:pointer;">
                    <td>@Model[i].CreditRequestOwnerName</td>
                    <td>@Model[i].CreditRequestOwnerLastName</td>
                    <td>@Model[i].CreditRequestOwnerID</td>
                    <td>@Model[i].ID</td>
                    <td>@Model[i].SegmentName</td>
                    <td>@Model[i].CreditType</td>
                    <td>@Model[i].CriteriaType</td>
                    <td>@Model[i].CriteriaValue</td>
                    <td>
                        @if (Model[i].RequestDatetime != null)
                        {
                            @Model[i].RequestDatetime.Value.ToString("dd-MM-yyyy, hh:mm tt")
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>*@
