﻿@model Azbok.Models.SearchData

<br>

<section id="section1" class="cd-section">



    @using (Html.BeginForm("SearchResult", "SearchResult", FormMethod.Post, null))
    {
        <div class="panel panel-primary">
            <div class="panel-heading" style="background:#296396;">

                <h3 class=" panel-title">
                    <span class="glyphicon glyphicon-search">  </span>  Pretrazi kreditne zahteve
                </h3>

            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3 ">
                            <label class="control-label" for="SearchIme">Broj kreditnog zahteva</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span></span>
                                <input type="text" class="form-control" id="searchCode" name="searchCode" placeholder="Code ">
                            </div>
                        </div>


                        <div class="col-md-3 ">
                            <label class="control-label" for="SearchIme">Ime i prezime</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input type="text" class="form-control" id="searchName" name="searchName" placeholder="Ime korisnika ">
                            </div>
                        </div>


                        <div class="col-md-3 ">
                            <label class="control-label" for="Adresa">Jmbg</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input type="text" class="form-control" id="searchJmbg" name="searchJmbg" placeholder="Jmbg ">
                            </div>
                        </div>


                        <div class="col-md-3 ">
                            <label class="control-label" for="Adresa">Tip Kredita</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span></span>
                                <input type="text" class="form-control" id="searchTip" name="searchTip" placeholder="Email ">
                            </div>
                        </div>

                    </div>

                </div>

                <div class="pull-right" style="padding-top: 15px; padding-right: 15px;">

                    <input type="submit" value="Trazi" class="btn btn-primary" />

                </div>

                <div class="pull-left">

                    @*<small class="warning">* Izaberite jedan od parametara za pretrazivanje</small>*@
                </div>


            </div>
        </div>
    }
    <div class="panel-heading" style="background:#296396; "><h3 class="panel-title" style="color:white;"><span class="glyphicon glyphicon-search">  </span> Rezultati pretrage kreditnih zahteva</h3></div>


    @if (Model != null)
    {
        <div style="border: 1px solid #296396; background: #f1f1f1; padding: 15px;">

            <table id="example" class="hover" style="width:100%;">
                <thead>
                    <tr style="border: 1px solid #a3a3a3;">
                        <th>Ime</th>
                        <th>Prezime</th>
                        <th>Jmbg</th>
                        <th>Kredit Code</th>
                        <th>Kreditni tip</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var user in Model.SearchName)
                    {
                        <tr onclick="location.href ='@(Url.Action("SearchResult", "SearchResult", new { userId = user }))'" style="cursor:pointer;">
                            <td>@user</td>
                            <td>Prezime</td>
                            <td>Jmbg</td>
                            <td>Kredit Code</td>
                            <td>Kreditni tip</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    <br>
    <a href="@(Url.Action("index", "Home"))" style="font-size:17px;"> Nazad na pocetnu</a>
</section>

@*<section id="section2" class="cd-section">
    @Html.Partial("_Search")
        </section>*@





