﻿

@{
    ViewBag.Title = "_Search";
}
@using (Html.BeginForm("SearchResult", "SearchResult", FormMethod.Post, null))
{

    <div class="panel panel-primary">
        <div class="panel-heading" style="background:#296396;">

            <h3 class=" panel-title">
    <span class="glyphicon glyphicon-search">  </span>  Pretraži kreditne zahteve
    </h3>

    </div>
        <div class="panel-body">
            <div class="row">

                <div class="col-md-12">
                    <div class="col-md-6 ">
                        <label class="control-label" for="SearchIme">Broj kreditnog zahteva</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span></span>
                            <input type="text" class="form-control" id="searchCode" name="searchCode" placeholder="Broj kreditnog zahteva ">
                        </div>
                    </div>


                    <div class="col-md-6 ">
                        <label class="control-label" for="SearchIme">Ime i prezime</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" class="form-control" id="searchName" name="searchName" placeholder="Ime korisnika ">
                        </div>
                    </div>
                </div>
            </div>
            <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6 ">
                                <label class="control-label" for="Adresa">JMBG</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                    <input type="text" class="form-control" id="searchJmbg" name="searchJmbg" placeholder="JMBG ">
                                </div>
                            </div>


                            <div class="col-md-6 ">
                                <label class="control-label" for="Adresa">Tip Kredita</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-edit"></span></span>
                                    <input type="text" class="form-control" id="searchTip" name="searchTip" placeholder="Tip kredita">
                                </div>
                            </div>

                        </div>
                    </div>
            
           
          

            <div class="pull-right" style="padding-top: 15px; padding-right: 15px;">

                <input type="submit" value="Traži" class="btn btn-primary" />

            </div>

            <div class="pull-left">

                @*<small class="warning">* Izaberite jedan od parametara za pretrazivanje</small>*@
            </div>


        </div>
    </div>
}
