﻿

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
   background : #727272;
}
.col-right{
    float: left;
    
}
.MainCont{ width:100%;     
 background: rgb(178,178,178); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(178,178,178,1) 0%, rgba(242,242,242,1) 20%, rgba(178,178,178,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(178,178,178,1)), color-stop(20%,rgba(242,242,242,1)), color-stop(100%,rgba(178,178,178,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(178,178,178,1) 0%,rgba(242,242,242,1) 20%,rgba(178,178,178,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(178,178,178,1) 0%,rgba(242,242,242,1) 20%,rgba(178,178,178,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(178,178,178,1) 0%,rgba(242,242,242,1) 20%,rgba(178,178,178,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(178,178,178,1) 0%,rgba(242,242,242,1) 20%,rgba(178,178,178,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2b2b2', endColorstr='#b2b2b2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.Search2 {     
    Border: 1px groove #DCE4EC;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
    background: none repeat scroll 0% 0% #F4F7FA;
    padding:20px;
    text-shadow: 1px 1px 1px #FFF
}

    .Search2 h5 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
        font-size:19px;
    }

 .MainCont2{ width:100%; height:900px;  padding-bottom:50px;  padding-top:50px;
/*background: rgb(181,189,200);  
background: -moz-linear-gradient(-45deg,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%);  FF3.6+ 
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1)));  Chrome,Safari4+ 
background: -webkit-linear-gradient(-45deg,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);  Chrome10+,Safari5.1+ 
background: -o-linear-gradient(-45deg,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);  Opera 11.10+ 
background: -ms-linear-gradient(-45deg,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);  IE10+ 
background: linear-gradient(135deg,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);  W3C 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 );  IE6-9 fallback on horizontal gradient*/ 


background-image:url('/img/tweed.png') ;

}

.FormsMain{ /* Old browsers */

}

.control-group {
    padding-top: 10px;
}


}
.form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}
.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

  

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

    


.carousel-indicators .active {
	position: absolute;
	top: 12% !important;
	width: 53px;
	height: 53px;
background: #222;
}

.carousel-control {
	position: absolute;
	top: 8% !important;
	left: 100px!important;
	width: 53px;
	height: 53px;
	margin-top: -38px !important;
	font-size: 30px !important;
	font-weight: 100;
	line-height: 44px !important;
	color: #FFF;
	text-align: center;
	background: #222;
	border: 3px solid #FFF;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

/* --------- END --------- */

.carousel {
	margin-bottom: 0;
	
}

.carousel-control {
	left: 107px;
}
.carousel-control.right {
	right: -5px;
	top:100%!important;
}



/*For top Indicator*/

.carousel-indicators-top {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}

.carousel-indicators-top li {
	background: #333333;
}

.carousel-indicators-top .active {
	background: #333333;
}
 
 /* vertical start*/

.vertical .carousel-inner {
	height: 100%;
}

.carousel.vertical .item {
	-webkit-transition: 0.6s ease-in-out top;
	-moz-transition: 0.6s ease-in-out top;
	-ms-transition: 0.6s ease-in-out top;
	-o-transition: 0.6s ease-in-out top;
	transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
	top: 0;
}

.carousel.vertical .next {
	top: 100%;
}

.carousel.vertical .prev {
	top: -100%;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
	top: 0;
}

.carousel.vertical .active.left {
	top: -100%;
}

.carousel.vertical .active.right {
	top: 100%;
}

.carousel.vertical .item {
	left: 0;
}​

