﻿@model Azbok.Models.UserData

@{
    ViewBag.Title = "Home Page";
}

<section id="section1" class="cd-section">


    <div class="container">
        <h3 class="form-heading" style="text-shadow: 0px 1px 0px #e6e6e6; background:#296396;"> </h3>
        <div class="col-md-5 hidden-xs" style="float: right; margin-top:10px;">


            <div class="panel panel-primary">
                <div class="panel panel-heading">
                    <h3 class=" panel-title">
                        <span class="glyphicon glyphicon-file">  </span> Izaberite podatke za slanje
                    </h3>
                </div>
                <div class="panel panel-body">
                    <span class="file-input file-input-new">
                        <div class="file-preview ">
                            <div class="close fileinput-remove text-right">×</div>
                            <div class="file-preview-thumbnails"></div>
                            <div class="clearfix"></div>   <div class="file-preview-status text-center text-success"></div>
                            <div style="display: none;" class="kv-fileinput-error file-error-message"></div>
                        </div>
                        <div class="input-group ">
                            <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                <div style="width:100px;" class="file-caption-name"></div>
                            </div>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                <button type="submit" class="btn btn-default kv-fileinput-upload"><i class="glyphicon glyphicon-upload"></i> Upload</button>
                                <div class="btn btn-primary btn-file"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input id="file-4" class="file" type="file"></div>
                            </div>
                        </div>
                        <br>
                        <div class="input-group ">
                            <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                <div style="width:100px;" class="file-caption-name"></div>
                            </div>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                <button type="submit" class="btn btn-default kv-fileinput-upload"><i class="glyphicon glyphicon-upload"></i> Upload</button>
                                <div class="btn btn-primary btn-file"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input id="file-4" class="file" type="file"></div>
                            </div>
                        </div>
                        <br>
                        <div class="input-group ">
                            <div tabindex="-1" class="form-control file-caption  kv-fileinput-caption">
                                <div style="width:100px;" class="file-caption-name"></div>
                            </div>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default fileinput-remove fileinput-remove-button"><i class="glyphicon glyphicon-ban-circle"></i> Remove</button>
                                <button type="submit" class="btn btn-default kv-fileinput-upload"><i class="glyphicon glyphicon-upload"></i> Upload</button>
                                <div class="btn btn-primary btn-file"> <i class="glyphicon glyphicon-folder-open"></i> &nbsp;Browse … <input id="file-4" class="file" type="file"></div>
                            </div>
                        </div>
                    </span>
                </div>
            </div>

        </div>
        @using (Html.BeginForm("UserData", "Home", FormMethod.Post))
        {

            <div class="col-md-7">

                <div>
                    <ul class="nav nav-pills hidden-xs" style="padding-bottom:10px; border-bottom:1px #1e1e1e groove">
                        <li class="active"><a href="#myCarousel" data-slide-to="0"><span class="glyphicon glyphicon-user"></span> Opšti podaci 1/2</a></li>
                        <li><a href="#myCarousel" data-slide-to="1"><span class="glyphicon glyphicon-user"></span> Opšti podaci 2/2</a></li>
                        <li><a href="#myCarousel" data-slide-to="2"><span class="glyphicon glyphicon-credit-card"></span> Zaposlenje</a></li>
                        <li><a href="#myCarousel" data-slide-to="3"><span class="glyphicon glyphicon-euro"></span> Detalji kredita</a></li>
                    </ul>
                </div>
                <div id="myCarousel" class="carousel vertical slide" style="padding-top:10px;">
                    <!-- Aktivan  -->
                    <div class="carousel-inner">

                        <div class="item active">
                            <div class="row-fluid" style="padding-top:-10px;">
                                <table>
                                    <tr>
                                        <td>

                                            <div class="row">
                                                <div class="col-md-6 ">
                                                    <label class="control-label " for="name">Ime</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                                        @Html.TextBox("ime", (string)ViewBag.prezime, new { @style = "width:100%; height:36px;", placeholder = "Ime" })
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="control-label " for="name">Prezime</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                                        @Html.TextBox("prezime", (string)ViewBag.prezime, new { @style = "width:100%; height:36px", placeholder = "Prezime" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 ">
                                                    <label class="control-label " for="name">Ime oca</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                                        @Html.TextBox("imeOca", (string)ViewBag.imeOca, new { @style = "width:100%; height:36px;", placeholder = "Ime oca" })
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="control-label " for="name">Državljanstvo</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                                                        @Html.TextBox("drzavljanstvo", (string)ViewBag.drzavljanstvo, new { @style = "width:100%; height:36px;", placeholder = "Državljanstvo" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label class="control-label " for="name">JMBG</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                                        @Html.TextBox("jmbg", (string)ViewBag.jmbg, new { @style = "width:100%; height:36px;", placeholder = "JMBG" })
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="control-label " for="name">Broj lične karte</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                                        @Html.TextBox("brojLicneKarte", (string)ViewBag.brojLicneKarte, new { @style = "width:100%; height:36px;", placeholder = "Broj lične karte" })
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label class="control-label" for="Number">Godina rođenja</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                        @Html.TextBox("rodjenjeGodina", (string)ViewBag.rodjenjeGodina, new { @style = "width:100%; height:36px;", placeholder = "Godina" })
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="control-label" for="Number">Mesec</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                        @Html.TextBox("rodjenjeMesec", (string)ViewBag.rodjenjeMesec, new { @style = "width:100%; height:36px;", placeholder = "Mesec" })
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="control-label" for="Number">Dan</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                        @Html.TextBox("rodjenjeDan", (string)ViewBag.rodjenjeDan, new { @style = "width:100%; height:36px;", placeholder = "Dan" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4 ">
                                                    <label class="control-label" for="Adresa">Država rođenja</label>
                                                    <div class="controls">
                                                        <div class="input-group">
                                                            <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                                                            @Html.TextBox("rodjenjeDrzava", (string)ViewBag.rodjenjeDrzava, new { @style = "width:100%; height:36px;", placeholder = "Država" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 ">
                                                    <label class="control-label" for="Adresa">Grad</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                                                        @Html.TextBox("rodjenjeGrad", (string)ViewBag.rodjenjeGrad, new { @style = "width:100%; height:36px;", placeholder = "Grad" })
                                                    </div>
                                                </div>
                                                <div class="col-md-4 ">
                                                    <label class="control-label" for="Adresa">Opština</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                                                        @Html.TextBox("rodjenjeOpstina", (string)ViewBag.rodjenjeOpstina, new { @style = "width:100%; height:36px;", placeholder = "Opština" })
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label class="control-label " for="name">Pol</label>
                                                    <div class="input-group">
                                                        <div class="btn-group" data-toggle="buttons">
                                                            <label class="btn btn-default  ">
                                                                <input type="radio" name="pol" value="muski" id="muski" checked><span class="glyphicon glyphicon-star"></span> Muski
                                                            </label>
                                                            <label class="btn btn-default ">
                                                                <input type="radio" name="pol" value="zenski" id="zenski" checked><span class="glyphicon glyphicon-star-empty"></span> Zenski
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="control-label" for="name">U braku</label>
                                                    <div class="input-group">
                                                        <div class="btn-group" data-toggle="buttons">
                                                            <label class="btn btn-default  ">
                                                                <input type="radio" name="brak" value="da" id="brak" checked> Da
                                                            </label>
                                                            <label class="btn btn-default ">
                                                                <input type="radio" name="brak" value="ne" id="brak" checked> Ne
                                                            </label>
                                                            <label class="btn btn-default ">
                                                                <input type="radio" name="brak" value="razvod" id="brak" checked>Razveden/a
                                                            </label>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                            </div><!--/row-fluid-->
                        </div><!--/item-->


                        <div class="item">
                            <div class="row-fluid">
                                @*<form id="notEmptyForm" class="signInForm">*@
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <label class="control-label" for="Adresa">Mesto stanovanja</label>
                                        <div class="controls">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                                                @Html.TextBox("stanovanjeGrad", (string)ViewBag.stanovanjeGrad, new { @style = "width:100%; height:36px;", placeholder = "Grad" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <label class="control-label" for="Adresa">Opština</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                                            @Html.TextBox("stanovanjeOpstina", (string)ViewBag.stanovanjeOpstina, new { @style = "width:100%; height:36px;", placeholder = "Opština" })
                                        </div>
                                    </div>
                                </div>
                              
                                    <label class="control-label" for="Adresa">Ulica i broj</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                                        @Html.TextBox("stanovanjeUlica", (string)ViewBag.stanovanjeUlica, new { @style = "width:100%; height:36px;", placeholder = "Ulica" })
                                    </div>
                              
                                <br>
                                <label class="control-label" for="Adresa">Na adresi stanovanja od:</label>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="control-label" for="Adresa">Godina</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                            @Html.TextBox("stanovanjeGodina", (string)ViewBag.stanovanjeDan, new { @style = "width:100%; height:36px;", placeholder = "Godina" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label" for="Adresa">Mesec</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                            @Html.TextBox("stanovanjeMesec", (string)ViewBag.stanovanjeMesec, new { @style = "width:100%; height:36px;", placeholder = "Mesec" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label" for="Adresa">Dan</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                            @Html.TextBox("stanovanjeDan", (string)ViewBag.stanovanjeGodina, new { @style = "width:100%; height:36px;", placeholder = "Dan" })
                                        </div>
                                    </div>
                                </div>

                                <br>
                                <label class="control-label" for="Adresa">Mesečni trošak zakupnine stana/kuće</label>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
                                            @Html.TextBox("zakupninaIznos", (string)ViewBag.zakupninaIznos, new { @style = "width:100%; height:36px;", placeholder = "Iznos" })
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <label class="btn btn-default  ">
                                            <input type="radio" name="valuta" id="valuta" value="rsd" checked> RSD
                                        </label>
                                        <label class="btn btn-default  ">
                                            <input type="radio" name="valuta" id="valuta" value="eur" checked> EUR
                                        </label>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <label class="control-label" for="Number">Broj mobilnog telefona</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                                            @Html.TextBox("mobilni", (string)ViewBag.mobilni, new { @style = "width:100%; height:36px;", placeholder = "Mobilni" })
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <label class="control-label" for="Number">Broj fiksnog telefona</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-phone"></span></span>
                                            @Html.TextBox("fiksni", (string)ViewBag.fiksni, new { @style = "width:100%; height:36px;", placeholder = "Fiksni" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <label class="control-label" for="Number">Email adresa</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                            @Html.TextBox("email", (string)ViewBag.email, new { @style = "width:100%; height:36px;", placeholder = "Email" })
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <label class="control-label" for="Adresa">Na adresi stanovanja stanujem kao</label>
                                <div class="row col-md-9">
                                    <div data-toggle="buttons" class="input-group">
                                        <label class="btn btn-default  ">
                                            <input type="radio" name="vlasnickiStatus" id="vlasnickiStatus" value="vlasnik" checked><span class="glyphicon glyphicon-home"></span> Vlasnik/Suvlasnik
                                        </label>
                                        <label class="btn btn-default ">
                                            <input type="radio" name="vlasnickiStatus" id="vlasnickiStatus" value="kodRoditelja" checked><span class="glyphicon glyphicon-home"></span> Živim kod roditelja
                                        </label>
                                        <label class="btn btn-default ">
                                            <input type="radio" name="vlasnickiStatus" id="vlasnickiStatus" value="zakupac" checked><span class="glyphicon glyphicon-home"></span> Zakupac
                                        </label>
                                    </div>
                                </div>
                                @*</form>*@
                            </div><!--/row-fluid-->
                        </div><!--/item-->

                        <div class="item">
                            <div class="row-fluid">
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <label class="control-label" for="name">Naziv kompanije</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-briefcase"></span></span>
                                            @Html.TextBox("kompanijaIme", (string)ViewBag.kompanijaIme, new { @style = "width:100%; height:36px;", placeholder = "Naziv" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="name">Pozicija</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-briefcase"></span></span>
                                            @Html.TextBox("kompanijaPozicija", (string)ViewBag.kompanijaPozicija, new { @style = "width:100%; height:36px;", placeholder = "Pozicija" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label" for="name" style="text-shadow: 0px 1px 0px #FFF;">Web adresa</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
                                            @Html.TextBox("kompanijaWeb", (string)ViewBag.kompanijaWeb, new { @style = "width:100%; height:36px;", placeholder = "Web adresa" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="name">PIB</label>
                                        <div class="controls">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-briefcase"></span></span>
                                                @Html.TextBox("Pib", (string)ViewBag.Pib, new { @style = "width:100%; height:36px;", placeholder = "PIB" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <label class="control-label" for="Number">Mesečna primanja</label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
                                            @Html.TextBox("mesecnaPrimanja", (string)ViewBag.iznosPrimanja, new { @style = "width:100%; height:36px;", placeholder = "Iznos" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="btn btn-default  ">
                                            <input type="radio" name="primanjaValuta" id="primanjaValuta" value="rsd" checked> RSD
                                        </label>
                                        <label class="btn btn-default  ">
                                            <input type="radio" name="primanjaValuta" id="primanjaValuta" value="eur" checked> EUR
                                        </label>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">

                                        @*<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                            <input type="text" class="form-control" id="kompanijaWeb" name="kompanijaWeb" placeholder="Web adresa kompanije">*@
                                    </div>
                                    <div class="col-md-6">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label" for="name">Godine staža</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                            @Html.TextBox("godineStaza", (string)ViewBag.godineStaza, new { @style = "width:100%; height:36px;", placeholder = "Godine" })
                                        </div>
                                    </div>
                                    <label class="control-label">Zaposlen/a na</label>
                                    <div class="col-md-6">
                                        <label class="btn btn-default">
                                            <input type="radio" name="zaposlenjeStatus" id="zaposlenjeStatus" value="neodredjeno" checked><span></span> Neodređeno
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="radio" name="zaposlenjeStatus" id="zaposlenjeStatus" value="odredjeno" checked><span></span> Određeno
                                        </label>
                                    </div>
                                </div>
                                <label class="control-label" for="name">Na zaradu se obustavlja mesečni iznos</label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
                                            @Html.TextBox("obustavljeniIznos", (string)ViewBag.obustavljeniIznos, new { @style = "width:100%; height:36px;", placeholder = "Iznos" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="btn btn-default">
                                            <input type="radio" name="obustavljenIznosValuta" id="obustavljenIznosValuta" value="rsd" checked> RSD
                                        </label>
                                        <label class="btn btn-default">
                                            <input type="radio" name="obustavljenIznosValuta" id="obustavljenIznosValuta" value="eur" checked> EUR
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label" for="name">Vrsta svojine preduzeća</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-briefcase"></span></span>
                                            @Html.TextBox("vrstaSvojine", (string)ViewBag.vrstaSvojine, new { @style = "width:100%; height:36px;", placeholder = "Vrsta svojine" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="name">Stepen stručne spreme</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-book"></span></span>
                                            @Html.TextBox("stecenoZvanje", (string)ViewBag.stecenoZvanje, new { @style = "width:100%; height:36px;", placeholder = "Stručna sprema" })
                                        </div>
                                    </div>
                                </div>
                            </div><!--/carousel-inner-->
                        </div><!--/item-->
                        <div class="item">
                            <div class="row-fluid">
                                <label class="control-label " for="name"></label>
                                <label class="control-label" for="name">Traženi iznos kredita</label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
                                            @Html.TextBox("trazeniIznos", (string)ViewBag.trazeniIznos, new { @style = "width:100%; height:36px;", placeholder = "  Iznos" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="btn btn-default  ">
                                            <input type="radio" name="kreditValuta" id="kreditValuta" value="rsd" checked> RSD
                                        </label>
                                        <label class="btn btn-default  ">
                                            <input type="radio" name="kreditValuta" id="kreditValuta" value="eur" checked> EUR
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label" for="name">Rok otplate u mesecima</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                            @Html.TextBox("rokOtplateMeseci", (string)ViewBag.trazeniIznos, new { @style = "width:100%; height:36px;", placeholder = "Meseci" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="name">Procenat učešća</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-euro"></span></span>
                                            @Html.TextBox("ProcenatUcesca", (string)ViewBag.trazeniIznos, new { @style = "width:100%; height:36px;", placeholder = "Procenat" })
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="row">

                                    <div class="col-md-6">
                                        <label class="control-label" for="name">Tip kredita</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                                            @Html.DropDownListFor(m => m.tip, (SelectList)ViewBag.ListOfClientIDs, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            
                                

                                <div class="row" style="padding: 20px;">
                                    @*<button type="submit" data-toggle="modal" class="btn btn-primary">Unesi</button>*@

                                    <a href="#myModal" onclick="location.href='@Url.Action("Result", "Result")'" data-toggle="modal" class="btn btn-primary"><span>Unesi</span></a>
                                 
                                </div>
                            </div><!--/carousel-inner-->
                        </div><!--/myCarousel-->
                    </div>

                </div><!--/carousel-inner-->

            </div><!--/myCarousel-->
        }
    </div>
    <br>

    <br>
    @Html.Partial("_Search")

    <br>

    @*<a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">Submit</a>*@


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Vaš kreditni zahtev se obrađuje, molimo sačekajte.</h4>
                </div>
                <div class="modal-body center-block">
                    <div class="progress">
                        <div class="progress-bar bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
               
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->





</section><!-- cd-section -->



<script src="@Url.Content("~/js/fileinput.js")" type="text/javascript"></script>

<script src="@Url.Content("//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")" type="text/javascript"></script>

<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>

<script src="@Url.Content("~/js/vendor/bootstrap.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/js/main.js")" type="text/javascript"></script>


<script>
    $('ul.nav-pills li a').click(function (e) {
        $('ul.nav-pills li.active').removeClass('active').addClass('dime')
        $(this).parent('li').addClass('active')
    })
</script>

<script>

        $('#myModal').on('shown.bs.modal', function () {

            var progress = setInterval(function () {
                var $bar = $('.bar');

                if ($bar.width() == 500) {

                    // complete

                    clearInterval(progress);
                    $('.progress').removeClass('active');
                    $('#myModal').modal('hide');
                    $bar.width(0);

                } else {

                    // perform processing logic here

                    $bar.width($bar.width() + 100);
                }

                $bar.text($bar.width() / 5 + "%");
            }, 700);


        })
    
    </script>


















