﻿@using System.Web.WebPages

@model Azbok.Models.ModelParamList

@{
    ViewBag.Title = "Home Page";
}

<section id="section1" class="cd-section">


    <div class="container">
        <h3 class="form-heading" style="text-shadow: 0px 1px 0px #e6e6e6; background: #296396;"></h3>

      @using (Ajax.BeginForm("AddAnswer", "Home", FormMethod.Post, null ,new { name = "formAnswerScheme", id = "formAnswerScheme" }))
        {
            @Html.AntiForgeryToken()
            <div class="panel panel-primary">
                <div class="heding" style="border-bottom: 1px #163856 groove; padding: 1px; background: #347fc2; color: white;">
                    <div style="margin: 0 auto; width: 600px;">
                        <ul class="nav nav-pills hidden-xs " style="color: white;">
                            <li style="color: white;" class="active"><a href=" #myCarousel" data-slide-to="0"><span class="glyphicon glyphicon-user"></span> Opšti podaci 1/2</a></li>
                            <li><a style="color: white;" href="#myCarousel" data-slide-to="1"><span class="glyphicon glyphicon-user"></span> Opšti podaci 2/2</a></li>
                            <li><a style="color: white;" href="#myCarousel" data-slide-to="2"><span class="glyphicon glyphicon-credit-card"></span> Zaposlenje</a></li>
                            <li><a style="color: white;" href="#myCarousel" data-slide-to="3"><span class="glyphicon glyphicon-euro"></span> Detalji kredita</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-body" style="background: #f5f5f5">
                    <div id="myCarousel" class="carousel vertical slide" style="">

                        <div class="carousel-inner">
                            <div class="item active">

                                <table style="width: 100%">
                                    <tr>

                                        <td class="col-md-4 " style="margin-top: 10px;">
                                            <!--Add parametars from database-->
                                           
        @{
            var y = 0;
            var x = 0;
            var counter = 0;

            for (var i = 0; i < Model.ObjectItems2.Count; ++i)
            {

                if (Model.ObjectItems2[i].Category == "Licni podaci")
                {


                    if (counter == 0 || counter == 3 || counter == 6 || counter == 9 || counter == 12)
                    {  
                         @:<div class="row" style="padding-right: 15px; padding-left: 15px;">
                    }

                        switch (Model.ObjectItems2[i].ControlTypeString)
                        {
                            case "ComboBox":
                              
                                <div class="col-md-4 " style="margin-top: 10px;">
                                    <label class="control-label" for="Adresa">@Model.ObjectItems2[i].DescriptionLabel</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="@Model.ObjectItems2[i].Icon"></span></span>

                                        @Html.DropDownListFor(m => m.AnswersCmb[y].Value, new SelectList(Model.ObjectItems2[i].DropdownsList[Model.ObjectItems2[i].indexOfCmb], "Value", "Text"), "Izaberite " + @Model.ObjectItems2[i].Placeholder + "", new { @class = "form-control" })
                                        <input type="hidden" name="AnswersCmb[@x].Id" value="@Model.ObjectItems2[i].Id">
                                        <input type="hidden" name="AnswersCmb[@x].Name" value="@Model.ObjectItems2[i].Name">

                                    </div>
                                </div>
                                { y += 1; }
                                break;
                            case "TextBox":
                            <div class="col-md-4 " style="margin-top: 10px;">
                                <label class="control-label" for="Adresa">@Model.ObjectItems2[i].DescriptionLabel</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="@Model.ObjectItems2[i].Icon"></span></span>


                                    <input type="text" name="Answers[@x].Value" placeholder="@Model.ObjectItems2[i].Placeholder" class="form-control" style="width:100%; height:36px; ">
                                    <input type="hidden" name="Answers[@x].Name" value="@Model.ObjectItems2[i].Name">
                                    <input type="hidden" name="Answers[@x].Id" value="@Model.ObjectItems2[i].Id ">


                                </div>
                            </div>
                                { x += 1; }
                                break;

                        }
                        counter += 1;
                        if (counter == 3 || counter == 6 || counter == 9 || counter == 12 || counter == 15)
                        {
                            @:</div> 
                        }
                    }
                }
            }
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="item">

                                <div class="row-fluid">
                                    <!--Add parametars from database-->
                                    <table style="width: 100%">
                                        <tr>

                                            <td class="col-md-4 " style="margin-top: 10px;">
                                                <!--Add parametars from database-->
                                                @{
             y = 0;
             x = 0;
             counter = 0;

            for (var i = 0; i < Model.ObjectItems2.Count; ++i)
            {

                if (Model.ObjectItems2[i].Category == "Podaci o stanovanju")
                {


                    if (counter == 0 || counter == 3 || counter == 6 || counter == 9 || counter == 12)
                    {
                                @:<div class="row" style="padding-right: 15px; padding-left: 15px;">
                    }

                    switch (Model.ObjectItems2[i].ControlTypeString)
                    {
                        case "ComboBox":

                                <div class="col-md-4 " style="margin-top: 10px;">
                                    <label class="control-label" for="Adresa">@Model.ObjectItems2[i].DescriptionLabel</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="@Model.ObjectItems2[i].Icon"></span></span>

                                        @Html.DropDownListFor(m => m.AnswersCmb[y].Value, new SelectList(Model.ObjectItems2[i].DropdownsList[Model.ObjectItems2[i].indexOfCmb], "Value", "Text"), "Izaberite " + @Model.ObjectItems2[i].Placeholder + "", new { @class = "form-control" })
                                        <input type="hidden" name="AnswersCmb[@x].Id" value="@Model.ObjectItems2[i].Id">
                                        <input type="hidden" name="AnswersCmb[@x].Name" value="@Model.ObjectItems2[i].Name">

                                    </div>
                                </div>
                            { y += 1; }
                            break;
                        case "TextBox":
                                <div class="col-md-4 " style="margin-top: 10px;">
                                    <label class="control-label" for="Adresa">@Model.ObjectItems2[i].DescriptionLabel</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="@Model.ObjectItems2[i].Icon"></span></span>


                                        <input type="text" name="Answers[@x].Value" placeholder="@Model.ObjectItems2[i].Placeholder" class="form-control" style="width:100%; height:36px; ">
                                        <input type="hidden" name="Answers[@x].Name" value="@Model.ObjectItems2[i].Name">
                                        <input type="hidden" name="Answers[@x].Id" value="@Model.ObjectItems2[i].Id ">


                                    </div>
                                </div>
                            { x += 1; }
                            break;

                    }
                    counter += 1;
                    if (counter == 3 || counter == 6 || counter == 9 || counter == 12 || counter == 15)
                    { 
                         @:</div>
                    }
                }
            }
                                                }
                                            </td>
                                        </tr>
                                    </table>



                                  

                                </div>
                                <!--/row-fluid-->
                            </div>
                            <!--/item-->
                            <div class="item">
                                <div class="row-fluid">
                                    <!--Add parametars from database-->
                                    <table style="width: 100%">
                                        <tr>

                                            <td class="col-md-4 " style="margin-top: 10px;">
                                                <!--Add parametars from database-->
                                                @{
            y = 0;
            x = 0;
            counter = 0;

            for (var i = 0; i < Model.ObjectItems2.Count; ++i)
            {

                if (Model.ObjectItems2[i].Category == "Podaci o zaposlenju")
                {


                    if (counter == 0 || counter == 3 || counter == 6 || counter == 9 || counter == 12)
                    {
                                @:<div class="row" style="padding-right: 15px; padding-left: 15px;">
                    }

                    switch (Model.ObjectItems2[i].ControlTypeString)
                    {
                        case "ComboBox":

                                <div class="col-md-4 " style="margin-top: 10px;">
                                    <label class="control-label" for="Adresa">@Model.ObjectItems2[i].DescriptionLabel</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="@Model.ObjectItems2[i].Icon"></span></span>

                                        @Html.DropDownListFor(m => m.AnswersCmb[y].Value, new SelectList(Model.ObjectItems2[i].DropdownsList[Model.ObjectItems2[i].indexOfCmb], "Value", "Text"), "Izaberite " + @Model.ObjectItems2[i].Placeholder + "", new { @class = "form-control" })
                                        <input type="hidden" name="AnswersCmb[@x].Id" value="@Model.ObjectItems2[i].Id">
                                        <input type="hidden" name="AnswersCmb[@x].Name" value="@Model.ObjectItems2[i].Name">

                                    </div>
                                </div>
                            { y += 1; }
                            break;
                        case "TextBox":
                                <div class="col-md-4 " style="margin-top: 10px;">
                                    <label class="control-label" for="Adresa">@Model.ObjectItems2[i].DescriptionLabel</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="@Model.ObjectItems2[i].Icon"></span></span>


                                        <input type="text" name="Answers[@x].Value" placeholder="@Model.ObjectItems2[i].Placeholder" class="form-control" style="width:100%; height:36px; ">
                                        <input type="hidden" name="Answers[@x].Name" value="@Model.ObjectItems2[i].Name">
                                        <input type="hidden" name="Answers[@x].Id" value="@Model.ObjectItems2[i].Id ">


                                    </div>
                                </div>
                            { x += 1; }
                            break;

                    }
                    counter += 1;
                    if (counter == 3 || counter == 6 || counter == 9 || counter == 12 || counter == 15)
                    {
                      @:</div>
                    }
                }
            }
                                                }
                                            </td>
                                        </tr>
                                    </table>

                                 

                                </div>
                            </div>
                            <!--/item-->
                            <div class="item">

                                <div class="row-fluid">
                                    <label class="control-label " for="name"></label>
                                    <label class="control-label" for="name">Traženi iznos kredita</label>
                                
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                                                @Html.TextBox("trazeniIznos", (string)ViewBag.trazeniIznos, new { @style = "width:100%; height:36px;", placeholder = "  Iznos", @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            @Html.DropDownList("ValutaPlacenja", new SelectList(ViewBag.Valuta, "Value", "Text"), "Izaberite valutu placenja", new { @class = "form-control" })

                                           
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="control-label" for="name">Rok otplate</label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label" for="name">Procenat učešća</label>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label" for="name">Učestalost plaćenja</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                                @Html.TextBox("rokOtplateMeseci", (string)ViewBag.trazeniIznos, new { @style = "width:100%; height:36px;", placeholder = "  Meseci", @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                                                @Html.TextBox("ProcenatUcesca", (string)ViewBag.trazeniIznos, new { @style = "width:100%; height:36px;", placeholder = "  Procenat", @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                                                @Html.TextBox("Ucestalostplacenja", (string)ViewBag.trazeniIznos, new { @style = "width:100%; height:36px;", placeholder = "  Procenat", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <label class="control-label" for="name">Tip kredita</label>
                                            <div class="input-group">
                                                <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
                                                @Html.DropDownList("TipKrfedita", new SelectList(ViewBag.ListOfClientIDs, "Value", "Text"), "Izaberite tip kredita", new { @class = "form-control" })


                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!--/carousel-inner-->
                            </div>
                            <!--/myCarousel-->

                        </div>

                    </div>
                    <!--/carousel-inner-->

                </div>

                <div style="width: 100%; height: 1px; background-color: #296396; color: white;"></div>

                @using (Html.BeginForm("UserData", "Home", FormMethod.Post))
                {

                    <div class="form-group" style="padding-top: 10px; background-color: #ddd; padding: 20px">
                        <label class="control-label" for="name" style="">Izaberite podatke za slanje </label>
                        <input id="file-4" type="file" class="file" multiple="true" data-preview-file-type="any" style="margin: 0 auto;">
                    </div>
                    <div style="width: 100%; height: 1px; background-color: #296396; margin-top: -14px; color: white;"></div>
                }
                <div class="panel " style="">

                    <button type="submit" data-toggle="modal" id="btnClick" class="btn btn-primary" style="float: right; margin-top: 10px; margin-right: 10px;">Unesi</button>
                    <br>
                    <br>
                </div>
        
           </div>
        
        }

        @Html.Partial("_Search")

        <br>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Vaš kreditni zahtev se obrađuje, molimo sačekajte.</h4>
                </div>
                <div class="modal-body center-block">
                    <div class="progress">
                        <div class="progress-bar bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"  data-dismiss="modal">Close</button>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
        
    </div>
    <!-- /.modal -->




</section>
<!-- cd-section -->



<script src="@Url.Content("~/js/fileinput.js")" type="text/javascript"></script>

<script src="@Url.Content("//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")" type="text/javascript"></script>

<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>

<script src="@Url.Content("~/js/vendor/bootstrap.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/js/main.js")" type="text/javascript"></script>

<script>
    $('ul.nav-pills li a').click(function (e) {
        $('ul.nav-pills li.active').removeClass('active').addClass('dime')
        $(this).parent('li').addClass('active')
    })
</script>
<script>
    function changeText() {
        document.getElementById('boldStuff').innerHTML = 'Fred Flinstone';
    }
</script>
<script>

    $('#myModal').on('shown.bs.modal', function () {

        var progress = setInterval(function () {
            var $bar = $('.bar');

            if ($bar.width() == 500) {

                // complete

                clearInterval(progress);
                $('.progress').removeClass('active');
                $('#myModal').modal('hide');
                $bar.width(0);

            } else {

                // perform processing logic here

                $bar.width($bar.width() + 100);
            }

            $bar.text($bar.width() / 5 + "%");
        }, 700);


    })

</script>

























































