﻿@using Azbok.Controllers

@{
 }

<br />
<h2></h2>
<section id="section1" class="cd-section">
    @if(ViewBag.Isloaded == true)
    {
    <div class="alert alert-success" role="alert" style="text-align: center; font-size: 16px; margin-top: -30px;">
        <span class="alert-link">Poštovani, Vaš kredit može biti odobren.</span>
    </div>
    <div class="well">
        <table class="table table-striped">
            <caption style="font-size: 16px; padding-bottom: 10px;">@*<h4>Poštovani, željeni kredit Vam može biti odobren.</h4>
                *@<h5>Ukoliko Vam predloženi detalji kredita odgovaraju, možete se javiti najbližoj ekspozituri Banke. Potrebno je da sa sobom ponesete ličnu kartu i verifikacioni kod, koji je poslat na Vašu e-mail adresu. </h5>
            </caption>
            <thead>
                <tr style="background: #efefef">
                    <th data-field="id">Rata</th>
                    <th data-field="name">Isplata kredita</th>
                    <th data-field="price">Anuitet</th>
                    <th data-field="price">Otplata</th>
                    <th data-field="price">Uplata kamate</th>
                    <th data-field="price">Učešće</th>
                    <th data-field="price">Stanje kredita</th>

                </tr>
            </thead>
            <!--input: 5000, 12 meseci, 14%, 20% ucesce-->
            <tbody>
                <tr data-index="0">
                    <td>0</td>
                    <td>5.000,00</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1.000,00</td>
                    <td>4.000,00</td>
                </tr>
                <tr data-index="1">
                    <td>1</td>
                    <td></td>
                    <td>359,15</td>
                    <td>312,48</td>
                    <td>46,67</td>
                    <td></td>
                    <td>3.687,52</td>
                </tr>
                <tr data-index="2">
                    <td>2</td>
                    <td></td>
                    <td>359,15</td>
                    <td>316,13</td>
                    <td>43,02</td>
                    <td></td>
                    <td>3.371,39</td>
                </tr>
                <tr data-index="3">
                    <td>3</td>
                    <td></td>
                    <td>359,15</td>
                    <td>319,82</td>
                    <td>39,33</td>
                    <td></td>
                    <td>3.051,58</td>
                </tr>
                <tr data-index="4">
                    <td>4</td>
                    <td></td>
                    <td>359,15</td>
                    <td>323,55</td>
                    <td>35,60</td>
                    <td></td>
                    <td>2.728,03</td>
                </tr>
                <tr data-index="5">
                    <td>5</td>
                    <td></td>
                    <td>359,15</td>
                    <td>327,32</td>
                    <td>31,83</td>
                    <td></td>
                    <td>2.400,71</td>
                </tr>
                <tr data-index="6">
                    <td>6</td>
                    <td></td>
                    <td>359,15</td>
                    <td>331,14</td>
                    <td>28,01</td>
                    <td></td>
                    <td>2.069,57</td>
                </tr>
                <tr data-index="7">
                    <td>7</td>
                    <td></td>
                    <td>359,15</td>
                    <td>335,00</td>
                    <td>24,14</td>
                    <td></td>
                    <td>1.734,56</td>
                </tr>
                <tr data-index="8">
                    <td>8</td>
                    <td></td>
                    <td>359,15</td>
                    <td>338,91</td>
                    <td>20,24</td>
                    <td></td>
                    <td>1.395,65</td>
                </tr>
                <tr data-index="9">
                    <td>9</td>
                    <td></td>
                    <td>359,15</td>
                    <td>342,87</td>
                    <td>16,28</td>
                    <td></td>
                    <td>1.052,79</td>
                </tr>
                <tr data-index="10">
                    <td>10</td>
                    <td></td>
                    <td>359,15</td>
                    <td>346,87</td>
                    <td>12,28</td>
                    <td></td>
                    <td>705,92</td>
                </tr>
                <tr data-index="11">
                    <td>11</td>
                    <td></td>
                    <td>359,15</td>
                    <td>350,91</td>
                    <td>8,24</td>
                    <td></td>
                    <td>355,01</td>
                </tr>
                <tr data-index="12">
                    <td>12</td>
                    <td></td>
                    <td>359,15</td>
                    <td>355,01</td>
                    <td>4,14</td>
                    <td></td>
                    <td>0,00</td>
                </tr>
        </table>
    </div>


    <div class="panel panel-body">
            <div class="heding" style="border-bottom: 1px #163856 groove; padding: 1px;">
                <text>Export podataka  </text>
            </div>
        <div style="width:700px;padding:10px; ">
             <div class="col-md-3">       

                    <div class="thumbnail" >
                                <div class="caption" style="background-color:#333399; text-shadow:none;">
                                    <h4 class="form-heading">Export as Excel</h4>
                  
                                  <br>
                                  <input type="button" class="btn btn-success" onclick="window.location.href='@Url.Action("EntityToExcelSheet", "Result")'" value="Export" />

                                </div>
                               <img class="img-circle" src="~/img/microsoft-excel-2013-12-535x535.png"  style="padding-right :10px;" /> 
                   </div>
            </div>
            <div class="col-md-3" style="padding-left:20px;">       
                 <div class="thumbnail">
                                <div class="caption" style="background-color:#333399; text-shadow:none;">
                                    <h4>Export as PDF</h4>      
                                   <br>
                                    <input type="button" class="btn btn-danger" onclick="window.location.href='@Url.Action("ExportPDF", "Result")'" value="Export" />
                                </div>
                             <img class="img-circle" src="~/img/20131206_pdf_icon.png"/> 
                 </div>
           </div>
              <div class="col-md-3" style="padding-left:20px;">       
                 <div class="thumbnail">
                                <div class="caption" style="background-color:#333399; text-shadow:none;">
                                    <h4>Export as XML</h4>      
                                   <br>
                                    <input type="button" class="btn btn-warning" onclick="window.location.href='@Url.Action("ExportXml", "Result")'" value="Export" />
                                </div>
                             <img class="img-circle" src="~/img/Invalid-XML.png"  /> 
                 </div>
           </div>
                <div class="col-md-3" style="padding-left:20px;">       
                   <div class="thumbnail">
                                <div class="caption" style="background-color:#333399; text-shadow:none;">
                                    <h4>Export as Word</h4>      
                                   <br>
                                    <input type="button" class="btn btn-primary" onclick="window.location.href='@Url.Action("ExportWord", "Result")'" value="Export" />
                                </div>
                             <img class="img-circle" src="~/img/mzl.frajvwny.png" /> 
                 </div>
           </div>

        </div>


    </div>



    }
    else 
    {
       

 <div class="modal-content" style="width: auto;">
     <div class="modal-header">
         <h4 class="modal-title" id="myModalLabel" style="text-align: center;">Vaš kreditni zahtev se obrađuje, molimo sačekajte.</h4>
     </div>
     <div class="modal-body center-block" style="text-align: center; width: 210px; margin: 0 auto;">
         <img src="~/img/301-1.GIF">
     </div>

 </div>
    <!-- /.modal-content -->

    }
    <script src="..." type="text/javascript" onload="InitMyScript('@ViewBag.Isloaded')"></script>

</section>
<script>
    var Isloaded = @Html.Raw(Json.Encode(ViewBag.Isloaded));
    if (Isloaded == false) {
        setTimeout(function () {
            window.location.reload(1);
        }, 5000);
    }
   

</script>


<script>
    $(document).ready(function () {
        $("[rel='tooltip']").tooltip();

        $('.thumbnail').hover(
            function () {
                $(this).find('.caption').slideDown(250); //.fadeIn(250)
            },
            function () {
                $(this).find('.caption').slideUp(250); //.fadeOut(205)
            }
        );
    });
</script>

